{% block title %}Nouveau cadavre exquis !{% endblock %}
{% block content %}
    <h1>Nouveau cadavre exquis !</h1>
    {{ include("cadavreExquis/form.html.twig", {form: form, button: 'Créer'}) }}
{% endblock %}